<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>    
        <title>Dashboard</title>        
    </head>
    <body>
        <div>
            <h1>Dashboard</h1>
            <h2>Users</h2>
            <ul th:each="user : ${users}">
                <li th:text="${user}"></li>
            </ul>
        </div>
    </body>
</html>
