<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Landing page</title>        
    </head>
    <body>
        <p style="border-bottom: solid 1px black; padding:.5rem;"><a href="/signin">Sign in</a>&nbsp;&nbsp;&nbsp;<a href="/register">Register</a></p>
        <div>
            <h1 style="font-size:1.5rem;">Welcome!</h1>
            <p>This is a faulty web application. There exists several security vulnerabilities. Do you find ways to fix it?</p>        
            <p>You can sign in above. The sign in page will provide you with default credentials. You can also register as a new user, if you please.</p>
        </div>
    </body>
</html>
