<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Messages</title>        
    </head>
    <body>
        <div>
            <h1>Message board</h1>
            <p>Most recent:</p>
            <div th:each="content : ${messages}">
                <i th:text="${content.date}" style="font-size:0.8rem"></i>
                &nbsp;
                <strong th:text="${content.message}"></strong>
            </div>
            
        </div>
        <br />
        <div>
            <form action="#" th:action="@{/messages}" method="POST">
                <textarea cols="40" rows="5" name="message" id="message"></textarea>
                <input type="submit" value="Send" />
            </form>
        </div>
    </body>
</html>
