<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>        
        <title>Sign In</title>           
    </head>
    <body>
        <div>
        <h1>Sign In</h1>        
            <p th:text="${notification}"></p>            
        <form action="#" th:action="@{/signin}" method="POST">
            Username: <input type="text" name="name" id="name" placeholder="username" /> 
            <br />
            Password: <input type="text" name="password" id="password" placeholder="password" />
            <br />
            <input class="ui button" type="submit" value="Sign in" />
        </form>
            <p>Don't have an account yet? <a href="/register">Register here.</a></p>
        </div>        
        <br />
        <hr />
        <div>
            <h2 style="font-size:1.2rem;">Default credentials</h2>
            <strong>User: </strong>
            <br />
            <i>username:</i> User1, 
            <br />
            <i>password:</i> password1
            <br />
            <br />
            <strong>Admin: </strong>
            <br />
            <i>username:</i> Admin, 
            <br />
            <i>password:</i> password
        </div>
    </body>
</html>
